.digital-clock-extended {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.digital-clock-extended .digit {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);

  font-size: 3rem;
  font-weight: 900;
  padding: 32px;
  margin: 0 8px;
}

.digital-clock-extended .digit:nth-of-type(1) {
  background: rgba(255, 0, 0, 1);
  transform: rotate(45deg);
}