.digital-clock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background: #000;
  color: #fff;

  font-family: var(--font-family-body);
}

.digital-clock .country {

}

.digital-clock .time {

}